@charset "UTF-8";

@font-face {
	font-family: 'VisbyRoundCF';
	src: url('/fonts/VisbyRoundCF/bold.eot');
	src: url('/fonts/VisbyRoundCF/bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/VisbyRoundCF/bold.woff') format('woff'),
		 url('/fonts/VisbyRoundCF/bold.svg#VisbyRoundCF-Bold') format('svg');
}

.VisbyRoundCF {
	font-family: VisbyRoundCF, sans-serif !important;
}

.nav-logo {
	font-size: 1.5em;
	line-height: 0 !important;
}

.interactive {
	z-index: 10;
}
