@charset "UTF-8";

body {
	background: #1B1C1D;
	color: rgba(255,255,255,.9);
}

.ellipsis{
	display: inline-block;
	white-space: nowrap;
	width: ~"calc(100% - 8em)";
	overflow: hidden;
	text-overflow:ellipsis;
}

span.stat {
	display: inline-block;
	float: right;
	white-space: nowrap;
	overflow: hidden;
}

canvas.canvas {
	background-color: black;
	width: 100%;
	cursor: pointer;
	border-radius: 2/7rem;
}

.scene {
	padding-top: 0 !important;
}
