<!--[if IE]>
script.
	alert("Your browser doesn't support WebGL.\nWe are sorry that it can't show you the magic of ShaderStudio.");
	if (confirm('Would you like to update your browser now?')) location.href = 'http://browsehappy.com/';
<![endif]-->
